#container
  .message
    %a{:href=>Url.user} Back
  - if @registrations.empty?
    .message
      There's no registrations send for now.
  - else
    #registrations
      %table{:width=>'100%'}
        %tr
          %th{:width=>'100%'} Email
          %th Verification code
        - @registrations.each do |r|
          %tr
            %td= r.email
            %td
              %form{:action => '/admin/verify', :method => 'post', :class => 'instant'}
                %input{:type=>'hidden', :name => 'email', :value => r.email}
                %input{:type=>'text', :name=>'verification', :size => 32}
