%table{:width=>"100%"}
  %tr
    %th Kanji
    %th Reading
    %th Meaning
    %th     
      - @bookmarks.each do |bkm|
        %tr
          %td{:width=>"50px"}= Tango[bkm.tango_id].kanji
          %td{:width=>"70px"}= Tango[bkm.tango_id].kana
          %td= Tango[bkm.tango_id].meaning
          %td{:width=>"1px"}
            %a{:href=>Url.bookmark_unset(bkm.tango_id),:title=>"Remove"} x
