#container
  #notice= flash[:notice]
  #title
    %h2 Registration
    .message
      NOTE: For registration you'll need 
      %a{:href=>'http://mail.google.com/mail/signup'} gmail account
      to send me your verification code.
    %form{:action=>'/verify', :method=>'post', :class => 'instant'}
      %table{:border=>0}
        %tr
          %th Login:
          %td
            %input{:type=>'text',:name=>'login', :value => @register.login}
        %tr
          %th Email:
          %td
            %input{:type=>'text',:name=>'email', :value => @register.email_prefix}
            %span @gmail.com
        %tr
          %th Password:
          %td
            %input{:type=>'password',:name=>'password', :value => @register.password}
        %tr
          %th Repeat password:
          %td
            %input{:type=>'password',:name=>'repeat', :value => @register.password}
