.span-5.last
  - if User.current
    = "Hello, #{User.current.name}!"
  - else
    Hello, guest!
- unless User.current
  .span-5.last.item
    %a{:href=>Url.login} Login
  .span-5.last.item
    %a{:href=>Url.register} Register
- if User.admin?
  .span-5.last.item
    %a{:href=>Url.admin_registrations} Registrations      
- if User.current
  .span-5.last.item
    %a{:href=>Url.logout} Logout
.span-5.last Tango
- if @tango.index > 0
  .span-5.last.item
    %a{:href=>Url.tango( @tango.prev.index )} Previous
.span-5.last.item
  %a{:href=>Url.tango( @tango.next.index )} Next
- if User.current
  .span-5.last Bookmarks
  .span-5.last.item
    %a{:href=>Url.bookmark_set( @tango.index )} Add
  .span-5.last.item
    %a{:href=>Url.print_bookmarks} Print
  .span-5.last.item
    %a{:href=>Url.clear_bookmarks} Clear
