* {
  margin: 0;
  padding: 0;
}

body {
  
}

h2 {
  font-size: 16px;
  padding-left: 4px;
}

div#container {
  border: solid 1px #BCD3E0;
  width: 500px;
  // margin: 2px;
  margin: 0 auto;
  margin-top: 10px;
}

div#admin {
  width: 500px;
  margin: 0;
  background-color: #EBF5FB;
  padding: 0px;
  font-size: 10px;
}

div#title {
  width: 500px;
  margin: 0;
  background-color: #EBF5FB;
  padding: 0px;
  font-size: 42px;
}

#title a {
  text-decoration: none;
}

#title a:hover {
  color: #000;
}

div#spoilers {
  width: 500px;
  margin: 0;
  padding: 0px;
  font-size: 18px;
}

div#spoilers table {
  border: 0;
  border-collapse: collapse;
}

div#spoilers td {
  border: solid 1px #EBF5FB;
  padding: 1px 4px;
}

div#spoilers td.right {
  text-align: right;
}

div#spoilers td.spoiler {
  color: #ffffff;
  background-color: #ffffff;
}

div#spoilers td.spoiler:hover {
  color: #3A5A83;
  background-color: #ffffff;
}

div#history {
  font-size: 14px;
}

div#login {
  text-align: right;
  background-color: #EBF5FB;
}

.message,
div#admin td,
div#registrations td,
div#title td {
  font: 10px tahoma, verdana, sans-serif;
}

.message {
  padding: 4px;
}

div#registrations th,
div#title th {
  font: bold 10px tahoma, verdana, sans-serif;
  text-align: right;
}

div#login a, div#login span, div#notice, div#bookmarks, div#controls {
  font: 10px tahoma, verdana, sans-serif;
}

div#login input {
  font: 10px tahoma, verdana, sans-serif;
}

div#login div {
  padding: 2px;
}

div#login input {
  font: 12px;
  height: 14px;
  border: solid 1px #BCD3E0;
}

div#notice {
  background-color: #C3FDC5;
}

div#history {
  padding: 2px;
}

div#bookmarks {
  background-color: #EBF5FB;
  padding: 2px;
}

#registrations table,
#bookmarks table {
  border-collapse: collapse;
}

#registrations td, #registrations th,
#bookmarks td, #bookmarks th {
  padding: 2px;
}

#registrations tr,
#bookmarks tr {
  background-color: #ABBDC8;
}

#registrations tr.odd,
#bookmarks tr.odd {
  background-color: #C0D7E5;
}

div#controls {
  background-color: #EBF5FB;
}

div#controls a {
  padding: 1px 3px;
  text-decoration: none;
  color: #000;
}

div#controls a:hover {
  background-color: #fff;
}

table.print_bookmarks {
  border-collapse: collapse;
  margin: 0 auto;
  margin-top: 10px;
}

table.print_bookmarks td, table.print_bookmarks th {
  border: solid 1px #000;
  padding: 2px;
}

table.print_bookmarks th {
  text-align: left;
  font-weight: normal;
  background-color: #eeeeee;
}

