/*
*/
body {
    font-size: 12pt;
    color:#222;
    background:#fff;
    font-family:Georgia, serif;
}

.top-padded {
  padding-top: 1.5em;
}

.right {
  text-align: right;
}

.underline {
  border-bottom: dotted 1px #444444;
}

.overline {
  border-top: dotted 1px #444444;
}

/*
   --- BIG FORM
*/

.big-form div {
 text-align: bottom;
}

.big-form div, .big-form input {
  font-size: 24pt;
}

.big-form input {
  margin: 8px;
  padding: 2px;
}

.big-form {
  border: solid 1px #7092A6;
  background-color: #EBF5FB;
}

/*
*/

.tango {
  background-color: #FFE98F;
  border: solid 1px #EBCF5A;
  /* margin-bottom: 12px; */
}

.tango h1 {
  padding: 2px;
  margin-bottom: 0px;
}


/*
*/

.spoilers {
  border: 0;
  border-collapse: collapse;
}

.spoilers td {
  border: solid 1px #EBF5FB;
  padding: 1px 4px;
}

.spoiler { color: #FFFFFF; }
.spoiler:hover, .spoiler.visible { color: #3A5A83; }

/*
  --- SIDEBAR
*/

.sidebar div {
  /* background-color: #bbd5e4; */
  font-family:"Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size: 12pt;
}

.sidebar .item {
  padding-left: 12px;
}

.sidebar a {
  text-decoration: none;
  padding: 2px 6px;
  color: #666;
}

.sidebar a:hover {
  text-decoration: underline;
  color: #000000;
}

/*
*/
.chapter {
  font-family:"Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size: 12pt;
}

/*
   --- RECENT
*/

.recent a {
  color: #000000;
  text-decoration: none;
}

.recent a:hover {
  /* text-decoration: underline; */
  background-color: #FFE98F;
}

/*
   --- BOOKMARKS
*/

.kana div, .kanji div, .meaning div {
  padding-left: 2px;
}

.bookmarks {
  color: #3A5A83;
}

.bookmarks .selected-column {
  color: #000000;
}

.bookmarks .selected-column.spoiler {
  color: #FFFFFF;
}

.bookmarks:hover {
  border-bottom: solid 1px #000000;
}

.toggle {
  color: #3A5A83;
}

.toggle:hover {
  color: #000000;
}