#
#
#
Base: "http://domain.name.com"
email: "void@email.ru"
via: sendmail                    # sendmail | smtp

# host: smtp.sendgrid.com
# port: '25'
# user: 'username'
# password: 'secret'
# domain: your.domain.name
