-#
-# Bookmarks block
-#

.span-18.last.top-padded
  .span-18.last.chapter
    Bookmarks
    %a{:href=>Url.print_bookmarks}
      %img.chapter-controls.icon{:src=>'/images/printer.png', :title=>"Print bookmarks"}
    %a{:href=>Url.clear_bookmarks}
      %img.chapter-controls.icon{:src=>'/images/cross.png', :title => "Clear bookmarks"}
  .span-18.last.overline.underline.header-row
    .span-3.toggle.kanji
      .span-3.last Kanji
    .span-4.toggle.kana 
      .span-4.last Reading
    .span-10.toggle.meaning 
      .span-10.last Meaning
    .span-1.last
  - @bookmarks.each do |bkm|
    .span-18.last.underline.bookmarks
      - tango = Tango[bkm.tango_id]
      .span-3.kanji
        .span-3.last= tango.kanji
      .span-4.kana
        .span-4.last= tango.kana
      .span-10.meaning
        .span-10.last= tango.meaning
      .span-1.last{:valign=>'middle'}
        %a{:href=>Url.bookmark_unset(bkm.tango_id),:title=>"Remove"}
          %img.icon{:src=>"/images/cross.png"}
