%form.instant{:action=>Url.verify, :method=>'POST'}
  .span-24.last.big-form{:style=>'margin-top: 50px;'}
    .span-24.last
      .span-6.right Login:
      .span-10.last
        %input.span-9{:type=>'text', :name => "login", :value => "" }
    .span-24.last
      .span-6.right Email:
      .span-18.last
        %input.span-9{:type=>'text', :name => "email", :value => "" }
        @gmail.com
    .span-24.last
      .span-6.right Password:
      .span-18.last
        %input.span-17{:type=>'password', :name => "password", :value => "" }
    .span-24.last
      .span-6.right Repeat:
      .span-18.last
        %input.span-17{:type=>'password', :name => "repeat", :value => "" }
