-#
-#
-#

.span-24.last.top-padded
  .span-18.colborder{:style=>'min-height: 400px;'}

    - if @search_result[ :kanji ]
      .span-18.chapter.last
        Kanji found
      - @category = :kanji
      = haml( :search_table, :layout => false )

    - if @search_result[ :kana ]
      .span-18.chapter.top-padded.last
        Kana found
      - @category = :kana
      = haml( :search_table, :layout => false )

    - if @search_result[ :meaning ]
      .span-18.chapter.top-padded.last
        Meaning found
      - @category = :meaning
      = haml( :search_table, :layout => false )

  .span-5.last.sidebar
    =haml :sidebar, :layout => false
