.span-24.last{:style=>'margin-top: 50px;'}
  .span-24.notice.last
    %p
      Now you should just press a
      %a{:href => Url.validation( @registration.verification + " (" + @registration.email + ")" )} link
      and send me an email from your gmail account.
      When I'll receive your email, I'll finish your registration,
      so you can 
      %a{:href => Url.login} login 
      to kotoba.heroku.com
    %p
      In case you could not open GMail form,
      send me email with subject "[kotoba.registration]",
      and text
      %tt= "\"#{@registration.verification} (#{@registration.email})\""
      in message body.
